<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.multipurposethemes.com/admin/eduadmin-template/front-end/register_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Nov 2020 08:31:47 GMT -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>E - CLASSROOM</title>

	<!-- Vendors Style-->
	<link rel="stylesheet" href="../Template/css/vendors_css.css">

	<!-- Style-->
	<link rel="stylesheet" href="../Template/css/style.css">

</head>

<body class="theme-primary">

	<!-- The social media icon bar -->



	<section class="py-50">
		<div class="container">
			<a href="/">
				<h6 style=" color: black;"><img style="height: 17px; width: auto; margin-top: -4px;"
						src="/Template/icons/themify-icons/SVG/arrow-left2.svg" alt="" srcset=""> HOME</h6>
			</a>

			<div class="row justify-content-center">
				<div class="col-lg-6 col-12">
					<div class="box box-body mb-0">
						<div class="tab-content">
							<div class="tab-pane active" id="login" role="tabpanel">
								<div>
									<div class="content-top-agile pb-0 pt-20">

										<h2 class="text-primary">Let's Get Started</h2>
										<h3 class="text-secondar">LOGIN</h3>

										<p class="mb-0">Login in to continue</p>
									</div>
									<div class="p-40">
										<form action="/login" method="post">
											<div class="form-group">
												<div class="input-group mb-15">
													<div class="input-group-prepend">
														<span class="input-group-text bg-transparent"><img
																src="../Template/icons/themify-icons/SVG/user.svg"
																alt="" srcset=""></span>
													</div>
													<input type="text" class="form-control pl-15 bg-transparent"
														name="Username" placeholder="Username" value="adarsh">
												</div>
											</div>
											<div class="form-group">
												<div class="input-group mb-15">
													<div class="input-group-prepend">
														<span class="input-group-text  bg-transparent"><img
																src="../Template/icons/themify-icons/SVG/lock.svg"
																alt="" srcset=""></span>
													</div>
													<input type="password" class="form-control pl-15 bg-transparent"
														name="Password" placeholder="Password" value="adarsh">
												</div>
											</div>
											{{#if loginErr}}
											<br><br>
											<p style="color: red;" class="error">{{loginErr}}</p>
											{{/if}}
											<!-- /.col -->

											<!-- /.col -->
											<div style="margin-left: 18px;" class="col-12 mt-5  text-center">
												<button type="submit"
													class="btn btn-info btn-block mt-15">LOGIN</button>
											</div>
											<!-- /.col -->
									</div>
									</form>

								</div>
								<div class="text-center">
									<p>- Login With -</p>
									<p style="font-weight: bold; color: #ff8f00; font-size: 17	px;"
										class="d-flex gap-items-2 mb-20 justify-content-center">
										<a href="/otpnumber">OTP</a>
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		</div>
	</section>





	<!-- Vendor JS -->
	<!-- Corenav Master JavaScript -->
	<script src="../Template/js/nav.js"></script>

	<!-- EduAdmin front end -->



</body>

<!-- Mirrored from www.multipurposethemes.com/admin/eduadmin-template/front-end/register_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Nov 2020 08:31:47 GMT -->

</html>